<style>
  .bathroom-pro-form label {
    display: block;
    text-align: left;
  }
  .bathroom-pro-form__block input {
    margin-top: 5px; 
    background-color: rgba(255,255,255,0.8);
  }
  .bathroom-pro-form__block:last-of-type {
    margin-top: 10px;  
  }
  @media screen and (min-width: 768px) {
    .bathroom-pro-form__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .bathroom-pro-form__block > div {
	  width: 49%;
    }    
  }
  .bathroom-pro-form .select-wrapper {
    height: 42px;
    margin-top: 5px;
    border: 2px solid #000; 
    line-height: 0 !important;
  }
  .bathroom-pro-form .select-wrapper:after {
    top: 20px;
    color: #000;
  }
  .bathroom-pro-form .selected-text {
    color: #000;
    line-height: 40px !important;
  }
  .file-upload-btn {
    display: block;
    text-align: left;
  }
  .file-upload-text {
    text-align: left; 
  }
  .bathroom-pro-form button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 6px;
    background: #02827B;
    border: 2px solid #02827B;
    color: #F7EDE2;
  }
  .bathroom-pro-form button em {
    font-style: normal;
  }
</style>

<!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
<form class="bathroom-pro-form" action='https://forms.zohopublic.com/pledgeresourcemanagersincdbara/form/BathroomPro/formperma/EdbNyyRhp8BHX4YQqBFtK2KcGEBx8m5z8sd-NzvDTZ8/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
<input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
<input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
<input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
<h2>Bathroom Pro</h2>
<p>Thanks for your interest in the RainStick Bathroom Pro Program. Please fill out the details below and someone from our team will be in touch with you shortly.</p>
<div class="bathroom-pro-form__block">
  <div>
    <!--Single Line-->
    <label> 
    First Name 
    <em>*</em>
    </label>
    <input  type="text" name="SingleLine" value="" fieldType=1 maxlength="255" placeholder="" />
  </div>
  <div>
    <!--Single Line-->
    <label> 
    Last Name 
    <em>*</em>
    </label>
    <input  type="text" name="SingleLine1" value="" fieldType=1 maxlength="255" placeholder="" />
  </div>
</div>
<div class="bathroom-pro-form__block">
  <div>
    <!--Single Line-->
    <label> 
    City 
    <em>*</em>
    </label>
    <input  type="text" name="SingleLine3" value="" fieldType=1 maxlength="255" placeholder="" />
  </div>
  <div>
    <!--Dropdown-->
    <label>Country
    <em>*</em>
    </label>
    <select name="Dropdown1"><option selected="true" value="-Select-">-Select-</option>
    <option value="Canada">Canada</option>
    <option value="United&#x20;States&#x20;of&#x20;America">United States of America</option>
    <option value="Afghanistan">Afghanistan</option>
    <option value="Albania">Albania</option>
    <option value="Algeria">Algeria</option>
    <option value="Andorra">Andorra</option>
    <option value="Angola">Angola</option>
    <option value="Antigua&#x20;and&#x20;Barbuda">Antigua and Barbuda</option>
    <option value="Argentina">Argentina</option>
    <option value="Armenia">Armenia</option>
    <option value="Australia">Australia</option>
    <option value="Austria">Austria</option>
    <option value="Azerbaijan">Azerbaijan</option>
    <option value="Bahamas">Bahamas</option>
    <option value="Bahrain">Bahrain</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="Barbados">Barbados</option>
    <option value="Belarus">Belarus</option>
    <option value="Belgium">Belgium</option>
    <option value="Belize">Belize</option>
    <option value="Benin">Benin</option>
    <option value="Bhutan">Bhutan</option>
    <option value="Bolivia">Bolivia</option>
    <option value="Bosnia&#x20;and&#x20;Herzegovina">Bosnia and Herzegovina</option>
    <option value="Botswana">Botswana</option>
    <option value="Brazil">Brazil</option>
    <option value="Brunei">Brunei</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Burkina&#x20;Faso">Burkina Faso</option>
    <option value="Burundi">Burundi</option>
    <option value="C&ocirc;te&#x20;d&#x27;Ivoire">C&ocirc;te d&#x27;Ivoire</option>
    <option value="Cabo&#x20;Verde">Cabo Verde</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Central&#x20;African&#x20;Republic">Central African Republic</option>
    <option value="Chad">Chad</option>
    <option value="Chile">Chile</option>
    <option value="China">China</option>
    <option value="Colombia">Colombia</option>
    <option value="Comoros">Comoros</option>
    <option value="Congo&#x20;&#x28;Congo-Brazzaville&#x29;">Congo &#x28;Congo-Brazzaville&#x29;</option>
    <option value="Costa&#x20;Rica">Costa Rica</option>
    <option value="Croatia">Croatia</option>
    <option value="Cuba">Cuba</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Czechia&#x20;&#x28;Czech&#x20;Republic&#x29;">Czechia &#x28;Czech Republic&#x29;</option>
    <option value="Democratic&#x20;Republic&#x20;of&#x20;the&#x20;Congo">Democratic Republic of the Congo</option>
    <option value="Denmark">Denmark</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Dominica">Dominica</option>
    <option value="Dominican&#x20;Republic">Dominican Republic</option>
    <option value="Ecuador">Ecuador</option>
    <option value="Egypt">Egypt</option>
    <option value="El&#x20;Salvador">El Salvador</option>
    <option value="Equatorial&#x20;Guinea">Equatorial Guinea</option>
    <option value="Eritrea">Eritrea</option>
    <option value="Estonia">Estonia</option>
    <option value="&#x29;">&#x29;</option>
    <option value="Eswatini&#x20;&#x28;fmr.&#x20;&quot;Swaziland">Eswatini &#x28;fmr. &quot;Swaziland</option>
    <option value="Ethiopia">Ethiopia</option>
    <option value="Fiji">Fiji</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="Gabon">Gabon</option>
    <option value="Gambia">Gambia</option>
    <option value="Georgia">Georgia</option>
    <option value="Germany">Germany</option>
    <option value="Ghana">Ghana</option>
    <option value="Greece">Greece</option>
    <option value="Grenada">Grenada</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Guinea">Guinea</option>
    <option value="Guinea-Bissau">Guinea-Bissau</option>
    <option value="Guyana">Guyana</option>
    <option value="Haiti">Haiti</option>
    <option value="Holy&#x20;See">Holy See</option>
    <option value="Honduras">Honduras</option>
    <option value="Hungary">Hungary</option>
    <option value="Iceland">Iceland</option>
    <option value="India">India</option>
    <option value="Indonesia">Indonesia</option>
    <option value="Iran">Iran</option>
    <option value="Iraq">Iraq</option>
    <option value="Ireland">Ireland</option>
    <option value="Israel">Israel</option>
    <option value="Italy">Italy</option>
    <option value="Jamaica">Jamaica</option>
    <option value="Japan">Japan</option>
    <option value="Jordan">Jordan</option>
    <option value="Kazakhstan">Kazakhstan</option>
    <option value="Kenya">Kenya</option>
    <option value="Kiribati">Kiribati</option>
    <option value="Kuwait">Kuwait</option>
    <option value="Kyrgyzstan">Kyrgyzstan</option>
    <option value="Laos">Laos</option>
    <option value="Latvia">Latvia</option>
    <option value="Lebanon">Lebanon</option>
    <option value="Lesotho">Lesotho</option>
    <option value="Liberia">Liberia</option>
    <option value="Libya">Libya</option>
    <option value="Liechtenstein">Liechtenstein</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Madagascar">Madagascar</option>
    <option value="Malawi">Malawi</option>
    <option value="Malaysia">Malaysia</option>
    <option value="Maldives">Maldives</option>
    <option value="Mali">Mali</option>
    <option value="Malta">Malta</option>
    <option value="Marshall&#x20;Islands">Marshall Islands</option>
    <option value="Mauritania">Mauritania</option>
    <option value="Mauritius">Mauritius</option>
    <option value="Mexico">Mexico</option>
    <option value="Micronesia">Micronesia</option>
    <option value="Moldova">Moldova</option>
    <option value="Monaco">Monaco</option>
    <option value="Mongolia">Mongolia</option>
    <option value="Montenegro">Montenegro</option>
    <option value="Morocco">Morocco</option>
    <option value="Mozambique">Mozambique</option>
    <option value="Myanmar&#x20;&#x28;formerly&#x20;Burma&#x29;">Myanmar &#x28;formerly Burma&#x29;</option>
    <option value="Namibia">Namibia</option>
    <option value="Nauru">Nauru</option>
    <option value="Nepal">Nepal</option>
    <option value="Netherlands">Netherlands</option>
    <option value="New&#x20;Zealand">New Zealand</option>
    <option value="Nicaragua">Nicaragua</option>
    <option value="Niger">Niger</option>
    <option value="Nigeria">Nigeria</option>
    <option value="North&#x20;Korea">North Korea</option>
    <option value="North&#x20;Macedonia">North Macedonia</option>
    <option value="Norway">Norway</option>
    <option value="Oman">Oman</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Palau">Palau</option>
    <option value="Palestine&#x20;State">Palestine State</option>
    <option value="Panama">Panama</option>
    <option value="Papua&#x20;New&#x20;Guinea">Papua New Guinea</option>
    <option value="Paraguay">Paraguay</option>
    <option value="Peru">Peru</option>
    <option value="Philippines">Philippines</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Qatar">Qatar</option>
    <option value="Romania">Romania</option>
    <option value="Russia">Russia</option>
    <option value="Rwanda">Rwanda</option>
    <option value="Saint&#x20;Kitts&#x20;and&#x20;Nevis">Saint Kitts and Nevis</option>
    <option value="Saint&#x20;Lucia">Saint Lucia</option>
    <option value="Saint&#x20;Vincent&#x20;and&#x20;the&#x20;Grenadines">Saint Vincent and the Grenadines</option>
    <option value="Samoa">Samoa</option>
    <option value="San&#x20;Marino">San Marino</option>
    <option value="Sao&#x20;Tome&#x20;and&#x20;Principe">Sao Tome and Principe</option>
    <option value="Saudi&#x20;Arabia">Saudi Arabia</option>
    <option value="Senegal">Senegal</option>
    <option value="Serbia">Serbia</option>
    <option value="Seychelles">Seychelles</option>
    <option value="Sierra&#x20;Leone">Sierra Leone</option>
    <option value="Singapore">Singapore</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Solomon&#x20;Islands">Solomon Islands</option>
    <option value="Somalia">Somalia</option>
    <option value="South&#x20;Africa">South Africa</option>
    <option value="South&#x20;Korea">South Korea</option>
    <option value="South&#x20;Sudan">South Sudan</option>
    <option value="Spain">Spain</option>
    <option value="Sri&#x20;Lanka">Sri Lanka</option>
    <option value="Sudan">Sudan</option>
    <option value="Suriname">Suriname</option>
    <option value="Sweden">Sweden</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Syria">Syria</option>
    <option value="Tajikistan">Tajikistan</option>
    <option value="Tanzania">Tanzania</option>
    <option value="Thailand">Thailand</option>
    <option value="Timor-Leste">Timor-Leste</option>
    <option value="Togo">Togo</option>
    <option value="Tonga">Tonga</option>
    <option value="Trinidad&#x20;and&#x20;Tobago">Trinidad and Tobago</option>
    <option value="Tunisia">Tunisia</option>
    <option value="Turkey">Turkey</option>
    <option value="Turkmenistan">Turkmenistan</option>
    <option value="Tuvalu">Tuvalu</option>
    <option value="Uganda">Uganda</option>
    <option value="Ukraine">Ukraine</option>
    <option value="United&#x20;Arab&#x20;Emirates">United Arab Emirates</option>
    <option value="United&#x20;Kingdom">United Kingdom</option>
    <option value="Uruguay">Uruguay</option>
    <option value="Uzbekistan">Uzbekistan</option>
    <option value="Vanuatu">Vanuatu</option>
    <option value="Venezuela">Venezuela</option>
    <option value="Vietnam">Vietnam</option>
    <option value="Yemen">Yemen</option>
    <option value="Zambia">Zambia</option>
    </select>
  </div>
</div>
<div class="bathroom-pro-form__block">
  <div>
    <!--Email-->
    <label> Email 
    <em>*</em>
    </label>
    <input type="text" maxlength="255" name="Email" value="" fieldType=9 placeholder="" />
  </div>
  <div>
    <!--Phone-->
    <label> Phone 
    <em>*</em>
    </label>
    <input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" phoneFormat="1" isCountryCodeEnabled=false maxlength="20" value="" fieldType=11 id="international_PhoneNumber_countrycode" placeholder="" />
  </div>
</div>
<!--Dropdown-->
<label>Industry
<em>*</em>
</label>
<select class="bathroom-pro-form__industry" name="Dropdown"><option selected="true" value="-Select-">-Select-</option>
<option value="Architect">Architect</option>
<option value="Designer">Designer</option>
<option value="Contractor">Contractor</option>
<option value="Plumber">Plumber</option>
</select>
<div class="bathroom-pro-form__block">
  <div>
    <!--Number-->
    <label> Years Experience 
    <em>*</em>
    </label>
    <input type="text" name="Number" value="" maxlength="18" placeholder="" />
  </div>
  <div>
    <!--Single Line-->
    <label> 
    Company Name 
    <em>*</em>
    </label>
    <input  type="text" name="SingleLine2" value="" fieldType=1 maxlength="255" placeholder="" />
  </div>
</div>
<!--File Upload-->
<label>Proof of Industry Experience
<em>*</em>
</label>
<input class="file-upload-btn" type="file"  name="FileUpload" checktype="c1"/>
<p class="file-upload-text"> We need to see proof of your industry experience such as certificates, degrees, proof of employment.</p>
<button type="submit"><em>Submit</em></button></form>