<div class="background__beige ctn-basic" style="position:relative">
  <div class="homepage-blob"></div>
  <h2 class="b2b__icon-heading">How It Works</h2>

<div class="howitworks__video-ctn-outer">
    <div class="howitworks__video-ctn-inner">
      <div class='embed-container'><iframe src='https://www.youtube.com/embed/Nb2oXiaOjt0' frameborder='0' allowfullscreen></iframe></div>
    </div>
</div>
</div> 


{% schema %}
  {
    "name": "b2b How It Works",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
