<div class="background__beige ctn-basic" style="position:relative">
  <div class="homepage__3-pillars">
      <a href="#shopify-section-b2b-how-it-works" class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon1.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading">How it <br>Works</h3>
      </a>
      <a href="#shopify-section-b2b-why-become-a-bathroom-pro" class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon2.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading">Bathroom<br>Pro Program</h3>
      </a>
      <a href="#shopify-section-b2b-technical-specs" class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon5.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading">Technical<br>Specifications</h3>
      </a>
      <a href="#shopify-section-b2b-installation-requirements" class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon4.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading">Installation<br>Requirements</h3>
      </a>
  </div>
</div> 


{% schema %}
  {
    "name": "b2b Naviation Icons",
    "settings": [
      {
        "id": "header_one",
        "type": "text",
        "label": "Header one"
      },
      {
        "id": "header_two",
        "type": "text",
        "label": "Header two"
      },
      {
        "id": "header_three",
        "type": "text",
        "label": "Header three"
      },
      {
        "id": "header_four",
        "type": "text",
        "label": "Header four"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
