<div class="b2b-background-image-bottom padding-bottom-5 padding-top-2" style="position:relative">
  <div class="aboutus__ctn-1 padding-top-4">
    <div class="b2b__intro-content-ctn">
    <h2 class="header-b2b mainheading_white-thin-large padding-bottom-2">Become a Bathroom Pro</h2>
      <p class="body__white-thin-center">
        Can’t find what you’re looking for and have Pro questions? We have Pro answers.
      </p>
      <p class="body__white-thin-center">
        Reach out to us today.
      </p>
    </div>
  </div>
  <a href="#become-a-pro" class='beigebutton'>BECOME A PRO</a>
</div>
{% schema %}
  {
    "name": "Full Width Image",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
