<div class="background__beige padding-top-2" style="position:relative">
  <div class="aboutus__ctn-1 padding-top-4-desktop">
    <div class="b2b__intro-content-ctn">
    <h2 class="header-b2b padding-bottom-2">{{ section.settings.header }}</h2>
    <p class="b2b-paragraph">
      {{ section.settings.subheader }}
      </p>
      <p class="b2b-paragraph">
        {{ section.settings.subheader_two }}
      </p>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "What You're Looking For",
    "settings": [
      {
        "id": "background",
        "type": "image_picker",
        "label": "Background image"
      },
      {
        "id": "header",
        "type": "text",
        "label": "Header"
      },
      {
        "id": "subheader",
        "type": "textarea",
        "label": "subheader"
      },
      {
        "id": "subheader_two",
        "type": "textarea",
        "label": "subheader two"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
