<style>
  .howitworks__video-ctn-inner .embed-container,
  .howitworks__video-ctn-inner .embed-container iframe {
    height: 100%;
  }
</style>


<div class="background__beige ctn-basic" style="position:relative">
  <div class="homepage-blob"></div>
  <h2 class="mainheading_black">How It Works</h2>

<div class="b2b__video-ctn margin-btm-4">
    <div class="howitworks__video-ctn-inner">
      <div class='embed-container' style="width:100%"><iframe style="width:100%" src='https://www.youtube.com/embed/Nb2oXiaOjt0' frameborder='0' allowfullscreen></iframe></div>
    </div>
</div>
</div> 


{% schema %}
  {
    "name": "b2b How It Works",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
