<style>
  .howitworks__video-ctn-inner .embed-container,
  .howitworks__video-ctn-inner .embed-container iframe {
    height: 100%;
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */  
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>


<div class="background__beige ctn-basic" style="position:relative">
  <div class="homepage-blob"></div>
  <h2 class="mainheading_black">How It Works</h2>

<div class="b2b__video-ctn margin-btm-10">
  <div class='embed-container' style="width:100%"><iframe style="width:100%" src='https://www.youtube.com/embed/Nb2oXiaOjt0' frameborder='0' allowfullscreen></iframe></div>
    <div class='b2b__video-info-ctn'>
      <div class='b2b__info-1'>
        <p style='padding:5px 0px'class="subheading_black">About Rainstick</p>
      </div>
      <div class='b2b__info-2'>
        <p style='padding:5px 0px'>
          RainStick began because (like most of us) we loved long, 
          hot showers but felt guilty about wasting water. 
          The only option at the time was a low-flow compromise, 
          which would negatively impact our shower experience. 
          So we started to re-imagine the status-quo and invented an impressive, 
          high flow shower system that saves 80% water and up to 80% energy
        </p>
        <a style='padding:5px 0px' class="b2b-storylink">LEARN OUR STORY</a>
      </div>
    </div>
  </div> 
</div> 


{% schema %}
  {
    "name": "b2b How It Works",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
