<div class="background__beige padding-top-2" style="position:relative">
  <div class="aboutus__ctn-1 padding-top-4-desktop">
    <div class="b2b__intro-content-ctn">
    <h2 class="header-b2b padding-bottom-2">Find What You’re Looking For</h2>
    <p class="b2b-paragraph">Below you’ll find all of the materials you need to get going on your indoor or outdoor shower remodel. At any time you can reach out to us at pro@rainstickshower.com and we’ll be happy to help.
 <a class='link-green'>bathroompro@rainstickshower.com </a>
      and we’ll be happy to help.
      </p>
      <p class="b2b-paragraph">
        Make sure you check out the details <a class='link-green'>here</a>.
      </p>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "What You're Looking For",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
