<div class="background__black padding-top-4 padding-bottom-6-desktop" style="position:relative">
  <div class="blackwave"></div>
<div class="b2b__inner-ctn padding-top-4">
  <div class="howitworks__img-ctn-1">
    <div class="b2b__img" style="background-image: url({{ 'bathroom-pro.png' | asset_url }})">
    </div>
  </div>
  <div class="b2bpro__ctn-inner">
    <h3 class="mainheading_white-thin-large align-left-mobile">Why Become A Bathroom Pro</h3>
    <p class="subheading__white-thin">
      Are you a bathroom professional (Interior designer, contractor, architect, builder etc.) interested in installing a RainStick Shower in one of your projects?
    </p>
    <p class="body__white-thin">
      The RainStick Bathroom Pro Program allows certified professionals specific program perks, leads and credibility in your industry. We're actively building up our bathroom pro program network and invite you to join us.
    </p>
    <p class="body__white-thin">
      How to join:<br>
	  (1) Fill out the interest form here to verify your eligibility<br>
	  (2) Our team will follow up to organize a brief introductory call to answer any questions you may have and explain how RainStick is installed to ensure you (and your team) feel comfortable and confident with your RainStick installs. You will then be entered into our program.<br>
	  (3) Once you’ve installed their first RainStick, we’ll provide you with a RainStick badge that you can put on your company’s website for marketing purposes. <br>
	  <br>
      That's it! You're all set.
    </p>
     <a class="greenbutton-black">Become A Pro</a>
  </div>
     

</div>

</div>

{% schema %}
  {
    "name": "Why Become A Bathroom Pro",
    "settings": [
	  {
        "id": "header",
		"type": "text",
		"label": "Title"
      },
	  {
        "id": "paragraph_one",
		"type": "textarea",
		"label": "Paragraph One"
      },
	  {
        "id": "paragraph_two",
		"type": "textarea",
		"label": "Paragraph Two"
      },
	  {
        "id": "image",
		"type": "image_picker",
		"label": "Image"
      }
	],
    "presets": [
      {
      "name": "Why Become A Bathroom Pro"
      }
    ]
  }
{% endschema %}

