<div id="installation-requirements" class="background__beige ctn-basic padding-bottom-5" style="position:relative">
  <div class="homepage-blob"></div>
  <h2 class="mainheading_black-thin-large">Installation Guides</h2>

  <div class="b2b__installation-guide-ctn">


      <div class="b2b__installation-ctn">
        <h3 class="b2b__installation-heading">Pre-Installation Guide</h3>
            <p class="howitworks__text-1">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
      tempor invidunt ut labore et dolore magna aliquyam erat.
        </p>
              <a href="{{ settings.installation_guide }}" class="b2b-storylink">DOWNLOAD</a>
      </div>

     <div class="b2b__installation-ctn">
        <h3 class="b2b__installation-heading">Technical Product Information</h3>
         <p class="howitworks__text-1">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
      tempor invidunt ut labore et dolore magna aliquyam erat.</p>
       <a href="{{ settings.technical_document }}" class="b2b-storylink">DOWNLOAD</a>
      </div>



  </div>
</div> 


{% schema %}
  {
    "name": "b2b Installation",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

