<div class="background__black" style="position:relative">
  <div class="blackwave"></div>
<div class="b2b__ctn-1 padding-top-4">
  <div class="howitworks__img-ctn-1">
    <h3 class="mainheading_white-thin">Distribution Relationship</h3>
     <a class="b2b-storylink">BECOME A DISTRIBUTOR</a>
  </div>
  <div class="howitworks__ctn-inner">
    <p class="body__white-thin">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
      no sea takimata sanctus est.
    </p>

  </div>
    <div class="howitworks__ctn-inner">
    <p class="body__white-thin">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores.
    </p>

  </div>
</div>

</div>

{% schema %}
  {
    "name": "Distribution Relationship",
    "settings": [
	  {
        "id": "header",
		"type": "text",
		"label": "Title"
      },
	  {
        "id": "paragraph_one",
		"type": "textarea",
		"label": "Paragraph One"
      },
	  {
        "id": "paragraph_two",
		"type": "textarea",
		"label": "Paragraph Two"
      },
	  {
        "id": "image",
		"type": "image_picker",
		"label": "Image"
      }
	],
    "presets": [
      {
      "name": "Distribution Relationship"
      }
    ]
  }
{% endschema %}
