<div class="background__beige ctn-basic" style="position:relative">
  <div class="homepage-blob"></div>
  <h2 class="homepage__heading-3">what makes us great</h2>

  <div class="homepage__3-pillars">


      <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ "b2b-icon.png" | asset_url }})"></div>
        <h3 class="b2b__icon-heading">How it Works</h3>
      </div>
          <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ block.settings.image | img_url: "700x700" }})"></div>
        <h3 class="b2b__icon-heading">Bathroom Pro Program</h3>
      </div>
          <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ block.settings.image | img_url: "700x700" }})"></div>
        <h3 class="b2b__icon-heading">Technical Specifications</h3>
      </div>
          <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ block.settings.image | img_url: "700x700" }})"></div>
        <h3 class="b2b__icon-heading">Installation Requirements</h3>
      </div>
    <a class="greenbutton">Become A Pro</a>
  </div>
  
</div> 


{% schema %}
  {
    "name": "b2b Naviation Icons",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
