<div class="background__beige padding-bottom-10 padding-top-2" style="position:relative">
  <div class="aboutus__ctn-1 padding-top-4">
    <div class="aboutus__ctn-inner">
    <h2 class="mainheading_black padding-bottom-2">Find What You’re Looking For</h2>
    <p>Below you’ll find all of the materials you need 
      to get going on your bathroom project. At any 
      time you can reach out to us at bathroompro@rainstickshower.com 
      and we’ll be happy to help. Interested in installing more RainStick 
      Shower’s and being part of our pro program? 
      </p>
      <p>
        Make sure you check out the details here.
      </p>
          <a class="greenoutline-button" href="{{ section.settings.url }}">{{ section.settings.url_label }}</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "What You're Looking For",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
