<div class="background__beige padding-bottom-10 padding-top-2" style="position:relative">
  <div class="aboutus__ctn-1 padding-top-4">
    <div class="aboutus__ctn-inner">
    <h2 class="mainheading_black padding-bottom-2">Find What You’re Looking For</h2>
    <p>{{ section.settings.paragraph }}</p>
          <a class="greenoutline-button" href="{{ section.settings.url }}">{{ section.settings.url_label }}</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "What You're Looking For",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
