<div class="background__beige ctn-basic" style="position:relative">
  <div class="homepage__3-pillars">
      <a href="#shopify-section-b2b-how-it-works" class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon1.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading">How it <br>Works</h3>
      </a>
      <div class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon2.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading"><a href="#shopify-section-b2b-why-become-a-bathroom-pro">Bathroom<br>Pro Program</a></h3>
      </div>
      <div class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon5.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading"><a href="#shopify-section-b2b-technical-specs">Technical<br>Specifications</a></h3>
      </div>
      <div class="b2b__pillar-ctn">
        <div class="b2b__pillar-img" style="background-image: url({{ "b2b-icon4.svg" | asset_url }})"></div>
        <h3 class="b2b__icon-heading"><a href="#shopify-section-b2b-installation-requirements">Installation<br>Requirements</a></h3>
      </div>
  </div>
  
</div> 


{% schema %}
  {
    "name": "b2b Naviation Icons",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
