<div class="background__beige ctn-basic" style="position:relative">
  <div class="homepage-blob"></div>
  <h2 class="homepage__heading-3">what makes us great</h2>

  <div class="homepage__3-pillars">


      <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ block.settings.image | img_url: "700x700" }})"></div>
        <h3 class="homepage__heading-3">How it Works</h3>
      </div>
          <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ block.settings.image | img_url: "700x700" }})"></div>
        <h3 class="homepage__heading-3">Bathroom Pro Program</h3>
      </div>
          <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ block.settings.image | img_url: "700x700" }})"></div>
        <h3 class="homepage__heading-3">Technical Specifications</h3>
      </div>
          <div class="homepage__pillar-ctn">
        <div class="homepage__pillar-img" style="background-image: url({{ block.settings.image | img_url: "700x700" }})"></div>
        <h3 class="homepage__heading-3">Installation Requirements</h3>
      </div>

  </div>
</div> 
<div class="button__ctn-black">
  <a href="/pages/select-destination" class="greenbutton">
    ORDER NOW
  </a>
</div>


{% schema %}
  {
    "name": "b2b Naviation Icons",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
