<style>
  .linkhover:hover {
    color: #02827B;
  }
</style>

<div class="background__black" style="position:relative">
  <div class="blackwave"></div>
<div class="b2b__ctn-1 padding-top-4 padding-bottom-5">
  <div class="howitworks__img-ctn-1">
    <h3 class="mainheading_white-thin margin-bottom-1">Distribution Relationship</h3>
     <a class="b2b-storylink">BECOME A DISTRIBUTOR</a>
  </div>
  <div class="howitworks__ctn-inner">
    <p class="body__white-thin">
      Are you interested in distributing RainStick Shower or licensing our award-winning technology in your region?
    </p>

  </div>
    <div class="howitworks__ctn-inner">
    <p class="body__white-thin">
      Please reach out to <a class="linkhover" href="/pages/contact-us">hello@rainstickshower.com</a> for more information on distribution opportunities.
    </p>

  </div>
</div>

</div>

{% schema %}
  {
    "name": "Distribution Relationship",
    "settings": [
	  {
        "id": "header",
		"type": "text",
		"label": "Title"
      },
	  {
        "id": "paragraph_one",
		"type": "textarea",
		"label": "Paragraph One"
      },
	  {
        "id": "paragraph_two",
		"type": "textarea",
		"label": "Paragraph Two"
      },
	  {
        "id": "image",
		"type": "image_picker",
		"label": "Image"
      }
	],
    "presets": [
      {
      "name": "Distribution Relationship"
      }
    ]
  }
{% endschema %}
