{%- capture background_image -%}
{%
  include 'rimg',
  img: section.settings.image,
  size: image_size,
  alt: "Mountain sunset"
%}
{%- endcapture -%}

<style>
  .careers-container {
   	max-width: 400px;
    margin: 0 auto;
  }
  .careers-hero {
    margin: 0 0 60px;
  }
  .careers-hero__header h1 {
    text-align: left !important;
    font-weight: 300;
    font-size: 34px !important; 
  }
  .careers-hero__header p {
    text-align: left !important;
  }
  .careers-hero__img {
  }
  .careers-openings__header {
    text-align: left !important;
    font-weight: 300;
    font-size: 34px !important; 
  }
  .careers-openings__list {
    display: flex;
    flex-direction: column;
  }
  .careers-openings__opening {
     
  }
  .careers-openings__opening-location-title {
    font-size: 20px;
    text-align: left;
  }
  .careers-openings__opening-type-title {
    
  }
</style>

<div class="careers-hero">
  <div class="careers-hero__header">
    <h1>Careers</h1>
    <p>We’re Building a team that is dedicated to</p>
  </div>
  <div class="careers-hero__img">
	{{ background_image }}
  </div>
</div>
<div>
  <h2 class="careers-openings__header">Current Openings</h2>
  <div class="careers-openings__list">
    <div class="careers-openings__opening">
   	  <h3 class="careers-openings__opening-title">Senior Plant Scientist, Biological R&D</h3>
      <p class="careers-openings__opening-location-title">Location</p>
      <p class="careers-openings__opening-location">Vancouver, British Columbia</p>
      <p class="careers-openings__opening-type-title">Type</p>
      <p class="careers-openings__opening-type">Full-Time</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Careers",
	"class": "careers-container",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "url",
        "id": "url",
        "label": "URL"
      },
      {
        "type": "text",
        "id": "url_label",
        "label": "Label"
      }
    ],
    "presets": [
      {
      "name": "Careers"
      }
    ]
  }
{% endschema %}
