{%- capture background_image -%}
{%
  include 'rimg',
  img: section.settings.image,
  size: image_size,
  alt: "Rainstick shower at night",
  background: true
%}
{%- endcapture -%}

<style>
  .careers-hero {
    
  }
  .careers-hero__header h1 {
    text-align: left !important;
    font-weight: 300;
    font-size: 34px !important; 
  }
  .careers-hero__header p {
    text-align: left !important;
  }
  .careers-hero__img {
    height: 300px; 
  }
</style>

<div class="careers-hero">
  <div class="careers-hero__header">
    <h1>Careers</h1>
    <p>We’re Building a team that is dedicated to</p>
  </div>
  <div class="careers-hero__img" {{ background_image }}>

  </div>
</div>
<div>
  <h2>Current Openings</h2>
  <div>

  </div>
</div>

{% schema %}
  {
    "name": "Careers",
	"class": "careers-container",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "url",
        "id": "url",
        "label": "URL"
      },
      {
        "type": "text",
        "id": "url_label",
        "label": "Label"
      }
    ],
    "presets": [
      {
      "name": "Careers"
      }
    ]
  }
{% endschema %}
