<div class="homepage__as-seen-in">
<div class="homepage-blob-4"></div>
  <h2 class="homepage__heading-2">
    As Seen In
  </h2>
  <p class="homepage__heading-4">
    They like us, they really like us!
  </p>
  <div class="homepage__as-seen-in-inner">
    <div class="homepage__as-seen-in-1">
      <img class="homeage__as-seen-in-icon-1" src="{{ section.settings.logo_one | img_url }}"/>
<!--       <p class="homepage__as-seen-in-text">Interior Design Show</p> -->
    </div>
      <div class="homepage__as-seen-in-1">
      <img class="homepage__as-seen-in-icon-2" src="{{ section.settings.logo_two | img_url }}"/>
<!--       <p class="homepage__as-seen-in-text">BetaKit</p> -->
    </div>
      <div class="homepage__as-seen-in-1">
      <img class="homepage__as-seen-in-icon-3" src="{{ section.settings.logo_three | img_url }}"/>
<!--       <p class="homepage__as-seen-in-text">The Toronto Star</p> -->
    </div>
  </div>
</div> 


{% schema %}
  {
    "name": "Featured media",
    "settings": [
	  {
        "id": "header",
		"type": "text",
		"label": "Header"
      },
	  {
        "id": "subheader",
		"type": "text",
		"label": "Sub header"
      },
	  {
        "id": "logo_one",
		"type": "image_picker",
		"label": "Logo one"
      },
	  {
        "id": "logo_two",
		"type": "image_picker",
		"label": "Logo two"
      },
	  {
        "id": "logo_three",
		"type": "image_picker",
		"label": "Logo three"
      }
	],
    "presets": [
      {
      "name": "Featured media"
      }
    ]
  }
{% endschema %}
