<div class="background__grey" style="position:relative">
  <div class="homepage__3-images">

      <div class="homepage__3image-ctn homepage__3image-ctn-img-1">
        <div class='chunk-ctn' style="text-align:center">
        <h3 class="subheading_black">Got Questions?</h3>
        <p class="body__black-thin">
          We’ve got answers. Check out our FAQ section
        </p>
        <a class='greenoutline-button'>LEARN MORE</a>
       </div>
      </div>
      <div class="homepage__3image-ctn homepage__3image-ctn-img-1">
        <div class='chunk-ctn' style="text-align:center">
        <h3 class="subheading_black">Become a Raintick Pro</h3>
        <p class="body__black-thin">
         Join our program for xyz.
        </p>
          <a class='greenoutline-button'>LEARN MORE</a>
       </div>
      </div>
          <div class="homepage__3image-ctn homepage__3image-ctn-img-1">
        <div class='chunk-ctn' style="text-align:center">
        <h3 class="subheading_black">Do you have a project in mind?</h3>
        <p class="body__black-thin">
          Book a demo.
        </p>
          <a class='greenoutline-button'>LEARN MORE</a>
       </div>
      </div>
  </div>
</div> 

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
