<div class="background__grey" style="position:relative">
  <div class="homepage__3-images">
    {% for block in section.blocks %}
      <div class="homepage__3image-ctn homepage__3image-ctn-img-1">
        <div class='chunk-ctn' style="text-align:center">
          <h3 class="subheading_chunk-ctn">{{ block.settings.title }}</h3>
          <p class="body__black-thin">
            {{ block.settings.content }}
          </p>
          <a href="{{ block.settings.link }}" class='greenoutline-button'>{{ block.settings.link_label }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div> 

{% schema %}
  {
    "name": "Index three columns",
    "settings": [
	  {
        "id": "bg-image",
		"type": "image_picker",
		"label": "Background image"
      },
	  {
        "id": "header",
		"type": "text",
		"label": "Header"
      }
	],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": 
          [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "textarea",
              "id": "content",
              "label": "Content"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            },
            {
              "type": "text",
              "id": "link_label",
              "label": "Link label"
            }
          ]
      }
    ],
    "presets": [
      {
      "name": "Index three columns"
      }
    ]
  }
{% endschema %}