<style>
  .installation-btn {
    display: block;
    align-items: center;
    background:#003260;
    color: #F4F2F1;
    display: flex;
    justify-content: center;
    text-align:center;
    font-weight: 500;
    border-radius: 4px;
    padding: 1rem;
    width: 70%;
    margin: 0rem 1rem;
  }
  .installation-btn:hover {
    cursor: pointer; 
    color: #f7ede2;
        background:#13827a;
    transition: 0.2s;
  }
  .installation-btn:focus {
    color: #F4F2F1;
  }
  .button__background{
    background:#F4F2F1;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
  }
  @media screen and (min-width: 768px) {
    .installation-btn {
      max-width: 700px;
    }
  }
  @media screen and (min-width: 1024px) {
    .installation-btn {
      max-width: 900px;
    }
  }
</style>
<div id="installation-btn" class="button__background">
<a href="{{ settings.installation_gude }}" class="installation-btn">{{ section.settings.label }}</a>
</div>

{% schema %}
  {
    "name": "Installation Button",
    "settings": [
	  {
		"type": "text",
		"id": "label",
		"label": "Button label"
	  }
	]
  }
{% endschema %}