<style>
  .newsletter-section {
    width: 100%;
  }
</style>

<form class="newsletter__ctn-inner-2" action="{{ section.settings.newsletter_list }}" method="POST">
   <input type="hidden" name="g" value="Ud3is6" />
   <input required class="newsletter__button" type="text" name="first" placeholder="First Name"/>
   <input required class="newsletter__button" type="text" name="last" placeholder="Last Name"/>
   <input required class="newsletter__button" type="email" name="email" placeholder="Email" />
   <button id="gtag-newsletter" type="submit" class="newsletter__button newsletter__subscribe">Subscribe</button>
</form>


{% schema %}
  {
    "name": "Newsletter form",
	"class": "newsletter-section",
    "settings": [
      {
        "id": "newsletter_list",
		"type": "text",
        "label": "Klaviyo List"
	  }
	]
  }
{% endschema %}