<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; border-radius: 6px; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>

{% assign youtube_embed = section.settings.url | replace: 'com/watch?v=', 'com/embed/' %}
    <h2 class="mainheading_black learn-how-rs-works-text">Learn How Rainstick Works</h2>

<div class="howitworks__video-ctn-outer background__beige">
    <div class="howitworks__video-ctn-inner">
      <div class='embed-container'><iframe src='https://www.youtube.com/embed/Nb2oXiaOjt0' frameborder='0' allowfullscreen></iframe></div>
    </div>
</div>

{% schema %}
  {
    "name": "Video",
    "settings": [
	  {
        "id": "url",
		"type": "text",
		"label": "Video Link",
		"info": "Copy youtube url into here"
      }
	],
    "presets": [
      {
      "name": "Video"
      }
    ]
  }
{% endschema %}
