{% section 'static-article' %}


<span>=====================</span>


<!-- 

  <div class="stories__section-1">
    <div class="stories__content-text-container-1">
      <h2 class="stories__content-text">
        REPLACE WITH HEADER, OR DELETE
      </h2>
      <p class="stories__content-text">
        REPLACE WITH PARAGRAPH 1
      </p>
      <p class="stories__content-text">
        REPLACE WITH PARAGRAPH 2
      </p>
    </div>
    <div class="stories__img-ctn-section-1">
		<div class="stories__img-section-1" style="background-image: url('https://cdn.shopify.com/s/files/1/0412/1028/2140/files/column3.png?v=1630015353');">
        </div>
    </div>
  </div>

  <div class="stories__section-3">
     <p class="stories__content-text">
        REPLACE WITH TEXT
        Ultrices vitae auctor eu augue ut lectus arcu. 
        In ornare quam viverra orci sagittis eu volutpat. 
        Libero volutpat sed cras ornare arcu duivivamus arcu felis. 
        Vitae tortor condimentum lacinia quis vel eros donec ac odio. 
     </p>
  </div>


  <div class="stories__section-2">
    <div class="stories__img-ctn-section-2">
		<div class="stories__img-section-2" style="background-image: url('https://cdn.shopify.com/s/files/1/0412/1028/2140/files/column3.png?v=1630015353');">
        </div>
    </div>
    <div class="stories__content-text-container-2">
      <p class="stories__content-text">
        Ultrices vitae auctor eu augue ut lectus arcu. 
        In ornare quam viverra orci sagittis eu volutpat. 
        Libero volutpat sed cras ornare arcu dui vivamus arcu felis. 
        Vitae tortor condimentum lacinia quis vel eros donec ac odio. 
        Dolor sit amet consectetur adipiscing elit duis tristique. 
      </p>
      <p class="stories__content-text">
        Ultrices vitae auctor eu augue ut lectus arcu. 
        In ornare quam viverra orci sagittis eu volutpat. 
        Libero volutpat sed cras ornare arcu dui vivamus arcu felis. 
        Vitae tortor condimentum lacinia quis vel eros donec ac odio. 
        Dolor sit amet consectetur adipiscing elit duis tristique. 
        Lectus vestibulum mattis ullamcorper velit sed ullamcorper. 
        Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. 
        In ornare quam viverra orci sagittis eu volutpat. Libero 
        volutpat sed cras ornare arcu dui vivamus arcu felis. Vitae 
        tortor condimentum lacinia quis vel eros donec ac odio. 
      </p>
    </div>
  </div>
  

  <div class="stories__section-3">
     <p class="stories__content-text">
        Ultrices vitae auctor eu augue ut lectus arcu. 
        In ornare quam viverra orci sagittis eu volutpat. 
        Libero volutpat sed cras ornare arcu dui vivamus arcu felis. 
        Vitae tortor condimentum lacinia quis vel eros donec ac odio. 
        Dolor sit amet consectetur adipiscing elit duis tristique. 
        Lectus vestibulum mattis ullamcorper velit sed ullamcorper. 
        Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. 
        In ornare quam viverra orci sagittis eu volutpat. Libero 
        volutpat sed cras ornare arcu dui vivamus arcu felis. Vitae 
        tortor condimentum lacinia quis vel eros donec ac odio. 
     </p>
  </div>

  <div class="stories__section-4">
		<div class="stories__img-section-4" style="background-image: url('https://cdn.shopify.com/s/files/1/0412/1028/2140/files/column3.png?v=1630015353');">
        </div>
  </div> -->