<div class="module-wrapper">

{% section 'featured-story' %}
{% section 'story-columns' %}
{% section 'text-block-with-image' %}
{% section 'story-columns-dark' %}


<div class="newsletter__ctn">
    <div class="beige-wave" ></div>
    <div class="stories-blob-2"></div>
  <div class="newsletter__ctn-inner">
    <h2 class="newsletter__heading">Stay connected to the RainStick story</h2>
    <p class="newsletter__text">You’ve already shown that you care about quality, innovation, and sustainability. 
      Now it’s time to stay connected and engaged as we continue to transform water usage and so much more.
    </p>
    {% section 'newsletter-form' %}
  </div>
</div>
 
</div>
