<div class="module-wrapper">
  {% section 'b2b-hero' %}
  {% section 'b2b-intro' %}
  {% section 'b2b-nav-icons' %}
  {% section 'b2b-how-it-works' %}
  {% section 'b2b-why-become-a-bathroom-pro' %}
  {% section 'b2b-installation-requirements' %}
  {% section 'b2b-distrubtuion-relationship' %}


</div>
	