<div class="about-content module-wrapper">
 
{% section 'about-hero' %}
{% section 'about-values' %}
{% section 'about-founders' %}
{% section 'recent-press' %}
  
</div>
  
{% comment %}{% section 'dynamic-alternating-content-about' %}{% endcomment %}
